<nav class="navbar navbar-expand-lg" style="background-color: #87b427;">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand text-white" href="#">
      <!-- <img src="path-to-logo" alt="Logo" style="height: 30px;" /> -->
      <i class="fa fa-cart-plus mx-1" aria-hidden="true"></i>
      <strong>bigBasket</strong>
    </a>

    <!-- Toggle Button for Small Screens -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="product-list">HOME</a>
        </li>
        
        <!-- Pages Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PAGES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Page 1</a></li>
            <li><a class="dropdown-item" href="#">Page 2</a></li>
          </ul>
        </li>

        <!-- Contact Us -->
        <li class="nav-item">
          <a class="nav-link text-white" href="#">CONTACT US</a>
        </li>

        <!-- Icons Section -->
        <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">
           <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>